body {
	font-size: 85%;
	margin: 0px;
	padding: 30px 30px;
	background-color: #FFFFFF;
	color: #111111;
	text-align: left;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

	/* 修正 */
	/* background-color: rgb(255, 255, 192);*/
	/*background-color: #f8f4e6;/*象牙色*/
}


input.search {
	width: 60%;
	height: 50px;
	padding: 10px 20px;
	margin: 0px 0px 0px 0px;
	font-size: large;
	border: solid 1px #999999;
	border-radius: 5px;
	box-sizing: border-box;

	/* 追加 */
	/*box-shadow: 2px 2px 4px 0px #69821b;*/
}


select {
	background-color: #FFFFFF;
	color: #111111;
	height: 50px;
	padding: 10px 20px;
	margin: 0px 0px 0px 0px;
	font-size:larger;
	box-shadow: none;
	border: solid 1px #999999;
	box-sizing: border-box;
	
	/*border: 3px outset #69821b; */
	/*box-shadow: 2px 2px 4px 0px #69821b; */
	/*box-shadow: 0px 0px 2px 1px #AAAAAA; */
	/*border-radius: 5px; */
	/* 追加 */
	/*box-shadow: 2px 2px 4px 0px #69821b; */
}
input[type="button"] {
	background-color: #FAC006;
	color: #111111;
	height: 50px;
	padding: 10px 20px;
	margin: 0px 0px 0px 0px;
	font-size:larger;
	cursor: pointer;
	box-shadow: 0px 0px 1px 1px #AAAAAA;
	border: solid 1px #999999;
	border-radius: 5px;
	
	/*border: 3px outset #69821b;
	box-shadow: 2px 2px 4px 0px #69821b; */

}

table {
	width: 95%;
	margin: 0 auto;
	border-collapse: collapse;
	border: solid 1px #999999;
	box-shadow: 0px 0px 2px 1px #AAAAAA;
	text-align: left;

	/* 修正 */
	/*width: 1000px;*/
}
td, th {
	border: solid 1px #999999;
	padding: 5px 10px;
	
	/*box-shadow: 5px 5px 10px 0px #69821b;/* 苔色の影 */
}
th { color: #1F5884;/* 附属図書館WEBサイトに揃える */ }

td.head { /* 検索結果の見出し */
	background-color: #1F5884;/* 附属図書館WEBサイトに揃える */
	color: #ffffff;
	text-align: center;
	font-size: 140%;
	font-weight: bold;
}
tr.info th, tr.info td{ /* 検索結果の「提供部局・種別・原本所蔵」の行 */
	background-color: #DDDDDD;/* 中黄 */
}
tr.info th.detail{ /* 検索結果の「提供部局」「種別」「原本所蔵」の列 */
	width: 30%;
	text-align: center;
}
td.text{
	padding: 5px 10px;
}
td.dep_code {
	display: none;
}
#footer {
	padding: 10px 0px 5px;
	clear: both;
}

/* 追加 */
div#wrapper { /* 全体のセンタリング */
    width: 90%;
    margin: 0 auto;
}

hr { border: solid 1px #1F5884; }

/* リンク文字色 */
:link { 
text-decoration: none;
color: #007bbb; 
}
:visited { 
text-decoration: none;
color: #b44c97; 
}

/* リンク文字色 */
/*:link { color: #007bbb; }紺碧*/
/*:visited { color: #b44c97; }紅紫*/

/* 選択文字色 */
/*::selection { color: #ffffff; background-color: #e83929; } /*紅緋*/
/*::-moz-selection { color: #ffffff; background-color: #e83929; }*/

ul.pagination li {
    margin: 0 0 0 1em;
    padding: 1;
}
ul.pagination li {
    display: inline-block;
    text-align: center;
    font-size:16px;
}
ul { 
    list-style: none;
}